<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log.txt" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="200KB" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header]&#xD;&#xA;" />
        <footer value="[Footer]&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>/&gt;
    </appender>

    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <WindowsService.Properties.Settings>
            <setting name="PathCompleteDir" serializeAs="String">
                <value>C:\Users\User\Documents\Complete</value>
            </setting>
            <setting name="PathGarbageDir" serializeAs="String">
                <value>C:\Users\User\Documents\Garbage</value>
            </setting>
            <setting name="PathDir" serializeAs="String">
                <value>C:\Users\User\Documents\Dir</value>
            </setting>
        </WindowsService.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50410/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="ServiceReference.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>